name: Trigger auto deployment for lookup

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/lookup-AutoDeployTrigger-175aa4f1-2dbb-4b08-bda6-9bf98bc17e4f.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.LOOKUP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.LOOKUP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.LOOKUP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.LOOKUP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.LOOKUP_REGISTRY_PASSWORD }}
          containerAppName: lookup
          resourceGroup: group9
          imageToBuild: ghcr.io/lookup:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


